<%- include('../partials/header.ejs') %>

    <%- include('../partials/menu.ejs') %>

        <div class="container mt-4">

            <div class="card">
                <div class="card-header">
                    LISTAGEM DE BRINQUEDOS
                </div>
            </div>

            <% 
            brinquedos.data.forEach(brinquedos=>{
            %>

                    <div class="card mt-2 p1">
                        <div class="card-body">
                            Nome: <%= brinquedos.nome_brinquedo %> <br>
                            Código: <%= brinquedos.cod_brinquedo %> <br>
                            Modelo: <%= brinquedos.modelo_brinquedo %>
                        </div>

                        <div class="btn-group mr-2">
                            <a href="/editarBrinquedo/<%= brinquedos.cod_brinquedo %>" class="btn btn-success btn-sm mr-2 ml-2">EDITAR</a>
                            <a href="/excluirBrinquedo/<%= brinquedos.cod_brinquedo %>" class="btn btn-danger btn-sm mr-2">EXCLUIR</a>
                        </div>
                        <% }) %>

                       
                    </div>
                   
                


        </body>

        <%- include('../partials/footer.ejs') %>

            </html>